/* Header styling */
.header {
    display: flex;                    
    justify-content: space-between;  
    align-items: center;             
    padding: 30px;
    background-color: darkslateblue;
    color: rgb(129, 120, 163);
}

.header h1 { 
    font-family: "Silkscreen", sans-serif;
}

.header p {
    font-style: italic;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header h1, .header p {
    margin: 0;
}

.menu {
    margin-left: auto; 
}

.menu a {
    color: rgb(129, 120, 163);
    text-decoration-line: none;
}

.menu a:hover {
    color: white;
    outline: white;
}

.menu nav ul {
    display: flex; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    margin: 0 15px;
}






/* Footer styling */
footer {
    color: rgb(129, 120, 163);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: darkslateblue;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

footer a {
    color: rgb(129, 120, 163);
    text-decoration-line: none;
}

footer a:hover, footer a:focus {
    color: firebrick;
    outline: solid red;
}

.footer-rights {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 70%;
}